h1 {
    text-align: center;
    margin: auto;
    padding: 5px;
    border-style: inset;
    border-color: black;
    width: 200px;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;


}

form>button {

    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

footer>button {

    background: none;
    color: #ffa260;
    border: 2px solid;

    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

h2 {
    border-style: inset;
    border-color: black;
    width: 200px;
    border-radius: 1em;
}

section {
    line-height: 1cm;
}

body {
    background-color: #f1faee;
}

button:hover {
    background-color: gray;
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

footer button:hover {
    background-color: gray;
    border-color: #f1ff5c;

    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}